html body {
    font-family: 'Roboto', sans-serif;
    background: #00f260; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #00f260, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #74ebd5, #ACB6E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:100%;
}
