html body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#intro {
  height: 100%;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgba(47,128,237, 0.8), rgba(86,204,242,0.8)), url("./images/cover.jpg");  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(47,128,237, 0.8), rgba(86,204,242,0.8)), url("./images/cover.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.calendar {
  height: 100%;
}

.column img {
}

#staff {
  background: white;
}

.arrow {
  position: absolute;
  width: 100%;
  padding-bottom:3%;
  background-color: rgb(255, 255, 255);
}
.arrow:before, .arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: inherit;
  border-top: 2px solid #fff;
}
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  border-right: 3px solid #fff;
  margin-right:-2px;
}
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  border-left: 3px solid #fff;
  margin-left:-2px;
}

.ui img {
  margin: auto;
}

.ui .visible {
  width: 100%;
}

.form {
  background: rgb(250,250,250);
}

.title {
  position: relative;
  width: 100%;
  font-size: 5em;
  display: block;
}

#subtext {
  display: block;
  font-size: .4em;
  padding=top: 1.5%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 4em;
}

.arrowthingy {
  position: relative;
  top: -100px;
}
